<!DOCTYPE html>
<html>
<head>
    <title>Key-Value Pairs</title>
</head>
<body>
    <h1>Hello, my name is Ori Uziel!!</h1>
    <h1>Welcome to my profile:</h1>
    <ul>
        {% for pair in urls %}
            <li><a href="{{ pair.url }}">{{ pair.text }}</a></li>
        {% endfor %}
    </ul>

    <h2>Add new link:</h2>
    <form method="POST">
        <label for="text">Text:</label>
        <input type="text" name="text" required>
        <br>
        <label for="url">URL:</label>
        <input type="text" name="url" required>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
